{{{leftMenu}}}
{{#if activeChat }}
    <div class="chat__message-list">
        {{{chatMenu}}}
        {{{messageList}}}
        {{{ messageInput }}}
        {{{ contextMenu }}}
    </div>
{{else}}
    <div class="chat__title-wrapper">
        {{{choseAChatTitle}}}
    </div>
{{/if}}



