{{{ buttonFullScreen }}}
<div class="form profile-form">
    {{{ avatarLg }}}
    <div class="profile__title-wrapper">
        {{{profileTitleName}}}
    </div>

    {{#if (isInfo page)}}
        {{{profileInfoTable}}}
        {{{changeDataButton}}}
        {{{changePasswordButton}}}
        {{{logoutButton}}}
    {{/if}}
</div>





