<div class="popup {{className}}">
    {{{title}}}

    <div class="popup__content">
        {{#if (isInput typeOfValue)}}
        <form name={{typeOfValue}}>
            {{{input}}}
            {{{ button }}}
        {{/if}}

        {{#if (isText typeOfValue)}}
            <p class="content__text">{{value}}</p>
            {{{ button }}}
        {{/if}}

        {{#if (isButton typeOfValue)}}
            {{{buttonLink}}}
            {{{ button }}}
        {{/if}}
    </div>

    {{#if (isInput typeOfValue)}}
        </form>
    {{/if}}

    {{#if errorText}}
        <p class="popup__error">{{errorText}}</p>
    {{/if}}
</div>








