<div class="background-blur">
	<div class="popup">
       {{{title}}}

        <div class="popup__content">
            {{#if (isInput typeOfValue)}}
            <form name={{typeOfValue}}>
                {{{input}}}
            {{/if}}

            {{#if (isText typeOfValue)}}
                <p class="content__text">{{value}}</p>
            {{/if}}

            {{#if (isButton typeOfValue)}}
                {{{buttonLink}}}
            {{/if}}
        </div>

        {{{ button }}}

        {{#if (isInput typeOfValue)}}
        </form>
        {{/if}}

        {{#if errorText}}
            <p class="popup__error">{{errorText}}</p>
        {{/if}}
    </div>
</div>








