<form class="form" name="sign-up">
    {{{ title }}}
    <span class="sign-up__inputs">
        <div class="inputs__row inputs__row_with-line">
            {{{ emailInput }}}
            {{{ loginInput }}}
            {{{ firstNameInput }}}
            {{{ secondNameInput }}}
        </div>
        <div class="inputs__row">
            {{{ phoneNumberInput }}}
            {{{ passwordInput }}}
            {{{ repeatPasswordInput }}}
            {{{ button }}}
        </div>
    </span>
    {{{ buttonLink }}}
</form>








