<table class="profile-table">
    {{#if ( isData mode)}}
        <tr class="profile-table__row">
            <td class="profile-table__data profile-table__title"> Email </td>
            <td class="profile-table__data profile-table__value"> {{{emailInput}}}</td>
        </tr>
        <tr class="profile-table__row">
            <td class="profile-table__data profile-table__title"> Login </td>
            <td class="profile-table__data profile-table__value"> {{{loginInput}}}</td>
        </tr>
        <tr class="profile-table__row">
            <td class="profile-table__data profile-table__title"> First name </td>
            <td class="profile-table__data profile-table__value"> {{{firstNameInput}}}</td>
        </tr>
        <tr class="profile-table__row">
            <td class="profile-table__data profile-table__title"> Last name </td>
            <td class="profile-table__data profile-table__value"> {{{lastNameInput}}}</td>
        </tr>
        <tr class="profile-table__row">
            <td class="profile-table__data profile-table__title"> Phone number </td>
            <td class="profile-table__data profile-table__value"> {{{phoneNumberInput}}}</td>
        </tr>
    {{/if}}
    {{#if ( isPassword mode)}}
        <tr class="profile-table__row">
            <td class="profile-table__data profile-table__title"> Old password </td>
            <td class="profile-table__data profile-table__value"> {{{oldPasswordInput}}}</td>
        </tr>
        <tr class="profile-table__row">
            <td class="profile-table__data profile-table__title"> New password </td>
            <td class="profile-table__data profile-table__value"> {{{newPasswordInput}}}</td>
        </tr>
        <tr class="profile-table__row">
            <td class="profile-table__data profile-table__title"> Repeat password </td>
            <td class="profile-table__data profile-table__value"> {{{repeatPasswordInput}}}</td>
        </tr>
    {{/if}}

</table>
